// client/src/styles/pages/_StaticPage.scss
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.static-page {
  max-width: 900px;
  margin: $spacing-xl auto;
  padding: $container-padding;
  background-color: $white-color;
  border-radius: $border-radius;
  
  .page-title {
      border-bottom: 2px solid $border-color;
      padding-bottom: $spacing-md;
  }
  
  .page-section {
      margin-bottom: $spacing-lg;
  }
}